{% load staticfiles %}

<html>
    <head>
    	<title>경희대학교 청원 홈페이지</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <h1><a href="/">Kyung-Hee University</a></h1>
        <style>
#nav_menu ul {
list-style-type:none;
padding-left:0px;
float:right;
}
#nav_menu ul li {
display:inline;
border-left: 1px solid #c0c0c0;
padding: 0px 30px 0px 30px;
margin: 5px 0px 5px 0px;
font-size: 20pt;
font-family: 'Lobster';
}
#nav_menu ul li:first-child {
border-left: none;
}
</style>
<div id="nav_menu">
<ul>
<li>총장님께</li><
<li>경희인들에게</li>
<li>자유게시판</li>
<li>정보게시판</li>
</ul>
</div>
    </div> 

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>